/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

log/*.log
spec/internal/db/*.sqlite
spec/internal/log/*.log
spec/internal/storage/
spec/internal/tmp/

# rspec failure tracking
.rspec_status
.byebug_history

/vendor/

*.lock
coverage
